.login {
    height: 100vh;
    width: 100%;
    background-image: url("/assets/svg/hrm-bg-login.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    .login-box {
        color: #ffffff;
        width: 600px;
        height: 515px;
        display: flex;
        flex-direction: column;
        .login-box-logo {
            display: flex;
            justify-content: center;
        }
        .login-box-form {
            input[type='text'] {
                font-size: 16px;
            }
            input[type='password'] {
                font-size: 16px;
            }
             ::placeholder {
                color: #ffffff;
            }
            .login-box-form-input {
                border-radius: 20px;
                background-color: #292929;
                width: 100%;
                height: 56px;
                display: flex;
                align-items: center;
                margin-top: 20px;
                .form-input-label {
                    width: 30%;
                    padding: 0px 16px;
                    display: flex;
                    align-items: center;
                    .form-input-label-img {
                        margin-right: 16px;
                        width: 16px;
                        height: 16px;
                    }
                }
                .form-input-input {
                    width: 70%;
                    padding: 0px 16px;
                    background: none;
                    outline: none;
                    color: #ffffff;
                    border: none;
                }
            }
            .login-box-form-save {
                width: 100%;
                height: 56px;
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                .form-save-text {
                    padding: 0 16px;
                }
                .form-save-btn {
                    padding: 0 16px;
                }
            }
            .login-box-form-btn {
                width: 100%;
                height: 56px;
                margin-top: 20px;
                display: flex;
                justify-content: center;
            }
            .login-box-link {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                outline: none;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #292929;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #F0DE9F;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5E5E5E;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5E5E5E;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}