<div class="login">
    <div class="login-box">
        <div class="login-box-logo">
            <img src="assets/svg/hrm-logo.svg">
        </div>
        <div class="login-box-form">
            <div class="login-box-form-input">
                <label
                    class="form-input-label"
                    for="email"
                >
                    <img
                        class="form-input-label-img"
                        src="assets/svg/hrm-icon-email.svg"
                        alt=""
                    >Email</label>
                <input
                    class="form-input-input"
                    type="text"
                    name="email"
                    id="email"
                    [(ngModel)]="model.username"
                >
            </div>
            <div class="login-box-form-input">
                <label
                    class="form-input-label"
                    for="password"
                >
                    <img
                        class="form-input-label-img"
                        src="assets/svg/hrm-password.svg"
                        alt=""
                    >Password</label>
                <input
                    class="form-input-input"
                    type="password"
                    name="password"
                    id="password"
                    [(ngModel)]="model.password"
                    placeholder="*** *** ***"
                >
            </div>
            <div class="login-box-form-save">
                <div class="form-save-text">
                    Lưu thông tin đăng nhập
                </div>
                <div class="form-save-btn">

                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="login-box-form-btn">
                <button
                    class="hrm-btn-send"
                    (click)="login()"
                >
                    Đăng nhập
                </button>
            </div>
            <div
                class="login-box-link"
                routerLink="/forget"
            >
                <div class="t-g-green">
                    Quên mật khẩu
                </div>
            </div>
        </div>
    </div>
</div>